<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new chat</title>
</head>
<body>
    <form method="post" action="/chats">
        <input placeholder="Who are you ??" name="from" type="text"><br><br>
        <input placeholder="Whom would you send this msg ??" name="to" type="text"><br><br>
        <textarea placeholder="Write your msg here.." name="msg"></textarea>
        <button>Send</button>
    </form>
</body>
</html>